* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../images/galexy.jpg");
}
header nav {
    display: flex;
    justify-content: center;
}
h1 {
   font-weight: 1000 ;
   color: whitesmoke;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
ul{
    list-style-type: none;
}
li a {
    margin-inline-end: 20px;
    color: whitesmoke;
    font-weight: 800;
}

.boxes {
    margin: 20px;
    padding: 20px;
    height: 300px;
    background-color: violet;
}
.subbox {
    display: flex;
    justify-content: flex-end;
}
section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
article {
    display: flex;
    flex-flow: column wrap;
}
#about-me > h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#about-me > p {
    max-width: 300px;
    display: flexbox;
    justify-content: flex-end;
}