* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
  body {
    font-family: 'Roboto Slab', serif;
    margin: 0;

  }
  
  header {
    /* display: flex; */
    padding: 60px;
    text-align: center;
    background-image: url('../images/galexy-again.jpg');
    
  }
  h1 {
      font-size: 50px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  ul {
      display: flex;
      justify-content: space-between;
  }

  li {
    padding: 20px;
    list-style-type: none;
  }
  li a:hover {
      background-color: #363231;
      color: white;
  }